/* .movie-carousel{
    background-color: #010000;
} */
.movie-carousel-item{
    position: relative;
}
.slick-prev:before,.slick-next:before  {
    color: #FF9900 !important;
    text-shadow: 2px 2px 5px black;
  }
.movie-carousel .slick-next{
    right: 5%;
 }
 .movie-carousel .slick-prev{
    left: 5%;
    z-index: 10;
}
.movie-carousel .slick-prev::before,.movie-carousel .slick-next::before{
    font-size: 2rem;
}
.movie-carousel .slick-dots{
   bottom:3%;
}
.movie-carousel .slick-dots li button::before{
    font-size: 0.9rem;
    color: #FF9900;
    text-shadow: 2px 2px 5px black;
}
.movie-carousel  .btn-play-trailer{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 6rem; 
    height: 6rem;
    line-height: 6rem;
    border: 2px solid #FF9900;
    border-radius: 50%;
    padding: 1.5rem;
    /* text-align: center; */
    color: #FF9900;
}
.movie-carousel  .btn-play-trailer:hover{
    transform:translate(-50%, -50%) scale(0.9);
    transition: all 0.5s;  
    
}