#movies{
  background-image: url("https://static.mservice.io/img/momo-upload-api-210701105436-637607336767432408.jpg");
}
.movies-card{
  position: relative;

}
.movies-img {
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white ;
  }

.overlay,
.movies-play {
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  background: linear-gradient(to top, #ec7532, #fbbd61);
  width: 200%;
  height: 100%;
  opacity: 0.9;
  transform: skewX(30deg) translateX(-120%);
  transition: all 0.5s;
}
.movie-hot{
    position: absolute;
    top: -20px;
    left: -27px;
}
.movies-img:hover .overlay {
  transform: skewX(30deg) translateX(-25%);
}
.movies-img {
  overflow: hidden;
}

.movies-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
}
.movies-play .movies-desc{
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movies-play .movies-button {
  
  /* margin-bottom: 1rem; */
  cursor: pointer;
  width: 6rem; 
  height: 6rem;
  line-height: 6rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1.5rem;
  text-align: center;
  color: white;
  transform: scale(1);
  transition: all 0.5s;
}
.movies-play h4 {
  letter-spacing: 0;
  font-size: 1rem;
  color: white;
}
.movies-img .movies-play:hover,
.movies-img .movies-play .movies-button:hover {
  opacity: 1;
  transform: scale(0.9);
}
.starLost {
  color: #d6d6d6 !important;
}
.newIn__text {
  letter-spacing: 1px;
  margin-top: 1rem;
}
.newIn__text i {
  color: #fbbd61;
  font-size: 0.8rem;
  letter-spacing: 4px;
}

.movies-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.movies-ribbon{
  position: absolute;
  top:-24px;
  left:-20px;
  z-index: 12;
}
.movies-overerate{
  display: flex !important;
}
.movies .slick-prev::before,.movies .slick-next::before{
  font-size: 2rem;
}
.movies .slick-next{
  right: -2%;
}

.movies .slick-prev{
  left: -3%;
}
.movies-button button:hover{
  color: white;
  transition:  all .5s;
}
.ant-rate{
  font-size: 14px;
  margin: -10px 0;
  display: block;
}
.ant-rate-star-second svg{
  width: 1rem;
}
.ant-rate-star{
  color: yellow;
}
.ant-rate-star:not(:last-child) {
  margin-right:4px;
}

.ant-tabs-ink-bar {
  height: 5px;
  background: #ec7532 !important;
}
.ant-tabs-tab img:hover{
  transform: scale(1.05);
  transition: .5s;
}