.movie-header{
   position: fixed;
   top:0;
   z-index: 11;
   width: 100%;
   background-color: rgba(7, 7, 7, 0.8);
}
.movie-header:hover{
   background-color: rgba(7, 7, 7, 0.95);
   transition: all .5s;
}
.movie-header button:hover, .movie-header ul li a:hover{
   color: white;
   transition: all .5s;
}
.ant-anchor{
   display: flex;
}
.ant-anchor-ink{
   display: none;
}
.ant-anchor-link-title{
   color: white !important;
   font-weight: bold;
   font-size: 1rem;
   letter-spacing: 0.2rem;
}
.ant-anchor-link-title:hover{
   color: #FF9900 !important;
  transition: all .5s;
}
.ant-anchor-link-title.ant-anchor-link-title-active{
   color: #FF9900 !important;
}
.header-profile:hover{
   color: #FF9900 !important;
}
.ant-switch  {
   background-color: #FF9900 !important;
   margin:  auto 0rem auto auto !important;;
}
.ant-switch  .ant-switch-handle::before {
   background-color:white !important;
}
.ant-switch  .ant-switch-inner {
   color: white !important;
}