.ant-collapse {
  background-color: white;
  border: none;
}
.ant-collapse-header {
  display: flex;
  align-items: center;
  color: #ff9900 !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 1rem;
}
.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-top: 0;
}
.ant-collapse > .ant-collapse-item {
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0.5rem 0;
}

.profile-history {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  height: 368px;
}
.profile-detail {
  height: 368px;
}
.profile-history::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.profile-history::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff9900;
}
.profile-history::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
