.movie-showtime{
    background-color: white;
    padding: 2rem 0;
}

.ant-tabs-tab p {
    margin-top: 0;
    margin-bottom: 0;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab{
    padding:0;
    text-align: justify;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #FF9900;
    text-shadow: 0 0 0.25px currentColor;
    /* border: red 1px; */
}
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
    color: #FF9900;
}
#showtime-schedule .ant-tabs-tab{
  margin: 0;
}
#showtime-schedule .ant-tabs-tab:hover {
  color: #FF9900;
  background-color: #dcdcdc5c;
  transition: .5s;
}
#showtime-schedule .ant-tabs-tab-active{
  background-color: #dcdcdc5c;
}
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0;
}

#showtime-schedule .ant-tabs-content-holder{
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  /* width: 80%; */
}
#showtime-schedule .ant-tabs-content-holder::-webkit-scrollbar{
  width: 8px;
  background-color: #f5f5f5;
}
#showtime-schedule .ant-tabs-content-holder::-webkit-scrollbar-thumb{
  border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF9900;
}
#showtime-schedule .ant-tabs-content-holder::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.ant-tabs  .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs  div .ant-tabs-nav .ant-tabs-nav-wrap {
  white-space:unset;
}

#showtime-schedule .ant-tabs-nav{
 width: 35%;
} 
.cinemas-name{
  margin: auto 0 !important;
}
/* @media only screen and  (max-width: 767px) {
  #showtime-schedule{
    height: 1400px;
  }
  #showtime-schedule .ant-tabs{
    display: block;
  }
  #showtime-schedule .ant-tabs-nav,#showtime-schedule .ant-tabs-content-holder {
    width: 100%;
    overflow: visible;
  }
  #showtime-schedule .ant-tabs-content-holder {
    margin-top: 20px;
    display: block;
    height: 500px;
  }
} */
