.movie-footer a:hover{
    color: #ff9900;
    transition: all 0.5s
}
.movie-footer img{
    opacity: 0.7;
}
.movie-footer img:hover{
    opacity: 1;
}

hr{
    border: 0.5px solid #999999;
    opacity: 0.5;
}