.movie-detail{
    position: relative;
}
.movie-detail-img{
    height: 315px;
}
.movie-detail-booking-img img, .movie-detail-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .movie-detail-booking-img{
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
} */
.movies-detail-ribbon{
    position: absolute;
    top:75px;
    left:55px;
    z-index: 12;
}
.movie-detail-desc{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-detail-button:hover{
    transition: all .5s;
    color: coral;
    background-color: white;
}
.movie-detail-button{
    padding: 10px 10px;
color: white;
}
.movie-detail-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url("https://binhminhdigital.com/StoreData/PageData/3429/Tim-hieu-ve-ban-quyen-hinh-anh%20(3).jpg"); */
    filter: blur(10px);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.btn-trailer{
    font-weight: bold !important;
    letter-spacing: 2px;
    font-size: 1rem;

}
.btn-trailer{
    color: #FF9900;
    border: none;
    height: 37px;
}
.btn-trailer:hover{
    color: white;
    background: #FF9900;
    transition: all .5s;
}
.btn-trailer:focus, .btn-trailer:active{
    color: #FF9900;
    border: none;
}
