body {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
  }
  body::-webkit-scrollbar, .cinema-list::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FF9900;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  .ant-message-custom-content{
    display: flex;
    align-items: center;
  }
  .ant-back-top {
    color: white;
    background-color: #FF9900;
    opacity: 0.8;
  }
  .ant-back-top{
   text-align: center;
   border-radius: 50%;
  }
  .ant-back-top svg{
    margin-top: 3px;
   }
  .ant-back-top:hover {
    background-color: #FF9900;
    opacity: 1;
    transition: all .5s;
  }