@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #333333 !important;
  color: #FF9900 !important;
}
a{
  color: rgba(153, 153, 153, var(--tw-text-opacity)) !important;
}
a:hover{
  color: white !important;
}
h1,h2,h3,h4,h5{
color:#FF9900 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
